body{
  font-family: 'Zen Kurenaido', sans-serif;
}

h1{
  font-size: 80px;
  margin-top: 5px;
  margin-bottom: 10px;
}

a{
  text-decoration: none;
  color: black;
}

ul li a{
  display: block;
}

ol li{
  padding: 10px;
  font-size: 30px;
  width: 90%;
  margin-top: 10px;
  padding-right: 5px;
  text-align:left;
  display: block;
  height: 50px;
  border-radius: 5px;
  list-style: none;
  border: 1px solid transparent; 
}

.yet{
  padding: 10px;
  font-size: 30px;
  width: 1125px;
  margin-top: 10px;
  padding-right: 5px;
  height: 50px;
  border-radius: 5px;
  list-style: none;
  border: 1px solid transparent; 
}

.yet a {
  flex-grow: 1; /* リンクが可能な限りのスペースを使用するようにする */
  display: block;
  overflow: hidden; /* 長いテキストがはみ出した場合に隠す */
  white-space: nowrap; /* テキストを一行にする */
  text-overflow: ellipsis; /* テキストが長い場合は省略記号を表示する */
  display: flex; /* フレックスボックスを有効にする */
  justify-content:space-between; /* 要素を両端に寄せる */
  align-items: center; /* 要素を垂直方向の中央に配置する */
  text-align: left; /* テキストは左寄せのまま */
}

.answers li {
  position: relative;
}

ol li:hover, .yet:hover {
  background-color: aliceblue;
  border: 1px solid; 
  cursor: pointer;
}

.comment{
  display: none;
}

.result{
  display: none;
  position: absolute;
  right: 5;  
  left: 5;
  top: 50%;         
  transform: translateY(-50%);
}

.answer{
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.header{
  border-bottom:2px solid;
}

.retry, .return, .submitButton{
  cursor: pointer;
  display: block;
  padding: 10px;
  font-size: 20px;
  width:10%;
  margin-top: 5px;
  text-align: center;
  border-radius: 5px;
  list-style: none;
  border: 1px solid transparent; 
}

.retry:hover, .return:hover, .submitButton:hover {
  background-color: aliceblue;
  border: 1px solid; 
}

.onemore{
  display: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  width:10%;
  margin-top: 5px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid transparent;
}

.onemore:hover {
  background-color: aliceblue;
  border: 1px solid; 
}

.returnMenu{
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  width:5%;
  margin-top: 5px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.returnMenu:hover {
  background-color: aliceblue;
  border: 1px solid; 
}

a{
  text-decoration: none;
  color: black;
}

ul li a{
  display: block;
}

li{
  padding: 10px;
  font-size: 30px;
  width: 30%;
  margin-top: 10px;
  padding-right: 5px;
  text-align: center;
  display: block;
  height: 50px;
  border-radius: 5px;
  list-style: none;
  border: 1px solid transparent; 
}

.answers li {
  position: relative;
}

li:hover {
  background-color: aliceblue;
  border: 1px solid; 
  cursor: pointer;
}


.comment{
  display: none;
}

.result{
  display: none;
  position: absolute;
  right: 5;  
  left: 5;
  top: 50%;         
  transform: translateY(-50%);
}

.answer{
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.header{
  border-bottom:2px solid;
}

.retry{
  cursor: pointer;
  display: block;
  padding: 10px;
  font-size: 20px;
  width:10%;
  margin-top: 5px;
  text-align: center;
  border-radius: 5px;
  list-style: none;
  border: 1px solid transparent; 
}

.retry:hover {
  background-color: aliceblue;
  border: 1px solid; 
}

.onemore{
  display: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  width:10%;
  margin-top: 5px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid transparent;
}

.onemore:hover {
  background-color: aliceblue;
  border: 1px solid; 
}

.resetModal{
  position: fixed; 
  display: none;   
  left: 50%;       
  top: 50%;        
  transform: translate(-50%, -50%); 
  width: 60%;
  height: 180px;
  text-align: center;
  overflow: auto;
  border-radius: 5px;
  z-index: 1000;  
  justify-content: center;
  align-items: center; 
  background-color: white;
}

.celebrateModal {
  position: fixed; 
  display: none;
  left: 50%;      
  top: 50%;        
  transform: translate(-50%, -50%); 
  width: 40%;
  height: 180px;
  text-align: center;
  overflow: auto;
  border-radius: 5px;
  z-index: 1500;  
  justify-content: center;
  align-items: center; 
  background-color: white;
}


.checkSentence{
  font-size: 30px;
}

.resetCheck{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cancel, .reset{
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  width: 40%;
  align-items: flex-end;
  cursor: pointer;
}

.cancel:hover, .reset:hover{
  background-color: aliceblue;
  border: 1px solid; 
}

.checkSentence{
  font-size: 30px;
}

.resetCheck{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cancel, .reset, .close{
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  width: 40%;
  align-items: flex-end;
  cursor: pointer;
}

.close{
  border: 1px solid transparent;
  border-radius: 5px;
  margin: auto;
  width: 40%;
  cursor: pointer;
}

.cancel:hover, .reset:hover, .close:hover{
  background-color: aliceblue;
  border: 1px solid; 
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 500;
  display: none;
}

.Congratulation{
  color: red;
  font-size: 30px;
}

label{
  display: block;
}

.login, .logout{
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  width:60%;
  margin-top: 5px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid transparent; 
}

.login:hover, .logout:hover {
  background-color: aliceblue;
  border: 1px solid; 
}

.LoginLogout {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 200px;
}

.submitButton {
  font-family: 'Zen Kurenaido', sans-serif;
  background-color: white;
}

.goToLogin:hover, .goToRegister:hover, .makername:hover, .tomypage:hover{
  text-decoration: underline;
}

.create-quiz, .mypage{
  padding: 10px 20px;
  font-size: 30px;
  width: 60%;
  margin-top: 10px;
  justify-content: center; 
  text-align: center;
  height: 50px;
  border-radius: 5px;
  border: 1px solid transparent; 
}

.create-quiz:hover, .mypage:hover, .editButton:hover, .deleteButton:hover {
  background-color: aliceblue;
  border: 1px solid; 
  cursor: pointer;
}

.editButton, .deleteButton{
  cursor: pointer;
  display:block;
  padding: 10px;
  font-size: 20px;
  width:60px;
  text-align: center;
  justify-content: center; 
  border-radius: 5px;
  list-style: none;
  border: 1px solid transparent; 
}

.searchWrapper{
  display: flex;
  padding: 10px;
  align-items: center;
}

.searchInput{
  height:45px;
  outline: none;
  border: solid 1px;
  border-radius: 5px;
  padding: 2px 4px;
  width: 70% !important;
  font-family: 'Zen Kurenaido', sans-serif;
}

.searchButton{
  cursor: pointer;
  display: block;
  padding: 10px;
  font-size: 20px;
  width:10%;
  text-align: center;
  border-radius: 5px;
  list-style: none;
  border: 1px solid transparent; 
  background-color: white;
  font-family: 'Zen Kurenaido', sans-serif;
}

.searchButton:hover {
  background-color: aliceblue;
  border: 1px solid; 
}

.no-hover:hover {
  background-color: transparent; /* hoverが無効になるように元の色に戻す */
  border: 1px solid white;
  cursor: default;
}

.questions {
  padding: 10px 10px;
}

.checkMark {
  text-align: center;
  width: 60px;
  display: table;
  margin-top: 10px;
}